<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>BookSite</h1>
            <p>A free-to-use book review site with user-submitted comments.</p>
            <p>
                <a class="btn btn-primary btn-large" href="books/new">Add New Book</a>
            </p>
        </div>
    </header>
    
    
    <div class="row text-center" style="display:flex; flex-wrap: wrap">
        <% books.forEach(function(book){ %>
        <div class="col-md-3 col-sm-6"> 
            <div class="thumbnail">
                <img src="<%= book.image %>"></img>
                <div class="caption">
                    <h4><%= book.name %></h4>
                </div>
                
                    <a id="moreinfobutton" href="/books/<%= book._id %>" class="btn btn-primary">More Info</a>
                
            </div>
        </div>
        <% }); %>
    </div>
    
</div>
    
<% include ../partials/footer %>