.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

#deleteform {
    display: inline;
}

#deletecommentbutton {
    display: inline;
}

.form-group {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

#centered {
    text-align: center;
}

.page-header {
    margin-top: 5px;
}

p {
    white-space: pre-line;
}

#moreinfobutton {
    margin: 0 5px 5px 5px;
}

hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}